[submodule "go-ethereum"]
	path = go-ethereum
	url = https://github.com/mdehoog/go-ethereum
	branch = dgc/reverse-bit-ordering
[submodule "prysm"]
	path = prysm
	url = https://github.com/Inphi/prysm
	branch = dgc/reverse-bit-ordering
