[submodule "geth/go-ethereum"]
	path = geth/go-ethereum
	url = https://github.com/mdehoog/go-ethereum
	branch = eip-4844
[submodule "prysm/prysm"]
	path = prysm/prysm
	# TODO: replace with upstream eip4844 branch once 4844 is integrated to the beacon API
	url = https://github.com/inphi/prysm
	branch = eip4844-dev
[submodule "lodestar/lodestar"]
	path = lodestar/lodestar
	url = https://github.com/dgcoffman/lodestar
	branch = dgc/eip-4844
[submodule "erigon/erigon"]
	path = erigon/erigon
	url = https://github.com/roberto-bayardo/erigon
	branch = eip-4844
