name: CI

# The flag below may be needed if blst throws SIGILL, which happens with certain (older) CPUs
env:
  CGO_CFLAGS: '-O -D__BLST_PORTABLE__'

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

jobs:
  test-prysm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions/setup-go@v3
        with:
          #       go 1.19 is incompatible with the github.com/lucas-clemente/quic-go v0.27.2 dependency
          go-version: '1.18'

      - uses: jpribyl/action-docker-layer-caching@v0.1.1
        # Ignore the failure of a step and avoid terminating the job.
        continue-on-error: true
        with:
          key: docker-cache-${{ hashFiles('.git/modules/prysm/*/HEAD', '.git/modules/geth/*/HEAD') }}

      - name: Prysm - Run pre-EIP4844 tests
        timeout-minutes: 30
        run: go run ./tests/pre-4844 prysm

      # TODO: A bit redundant. combine this test with fee-market
      - name: Prysm - Run Blob transaction tests
        timeout-minutes: 30
        run: go run ./tests/blobtx prysm

      - name: Prysm - Run Fee market spec tests
        timeout-minutes: 30
        run: go run ./tests/fee-market prysm

      - name: Prysm - Run Initial sync tests
        timeout-minutes: 30
        run: go run ./tests/initial-sync prysm

      - name: Collect docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v1
        with:
          images: 'eip4844-interop_prysm-beacon-node-follower,eip4844-interop_prysm-beacon-node,eip4844-interop_execution-node-2,eip4844-interop_execution-node,eip4844-interop_prysm-validator-node'
          dest: './logs'

      - name: Tar logs
        if: failure()
        run: tar cvzf ./logs.tgz ./logs

      - name: Upload logs to GitHub
        if: failure()
        uses: actions/upload-artifact@master
        with:
          name: logs.tgz
          path: ./logs.tgz

  test-lodestar:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions/setup-go@v3
        with:
          #       go 1.19 is incompatible with the github.com/lucas-clemente/quic-go v0.27.2 dependency
          go-version: '1.18'

      - uses: jpribyl/action-docker-layer-caching@v0.1.1
        # Ignore the failure of a step and avoid terminating the job.
        continue-on-error: true
        with:
          key: docker-cache-${{ hashFiles('.git/modules/lodestar/*/HEAD', '.git/modules/geth/*/HEAD') }}

      - name: Lodestar - Run pre-EIP4844 tests
        run: go run ./tests/pre-4844 lodestar

      # - name: Lodestar - Run Blob transaction tests
      #   run: go run ./tests/blobtx lodestar

      # - name: Lodestar - Run Fee market spec tests
      #   run: go run ./tests/fee-market lodestar

      # - name: Lodestar - Run Initial sync tests
      #   run: go run ./tests/initial-sync lodestar

      - name: Collect docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v1
        with:
          images: 'eip4844-interop_prysm-beacon-node-follower,eip4844-interop_prysm-beacon-node,eip4844-interop_execution-node-2,eip4844-interop_execution-node,eip4844-interop_prysm-validator-node'
          dest: './logs'

      - name: Tar logs
        if: failure()
        run: tar cvzf ./logs.tgz ./logs

      - name: Upload logs to GitHub
        if: failure()
        uses: actions/upload-artifact@master
        with:
          name: logs.tgz
          path: ./logs.tgz

  test-lighthouse:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions/setup-go@v3
        with:
          #       go 1.19 is incompatible with the github.com/lucas-clemente/quic-go v0.27.2 dependency
          go-version: '1.18'

      - uses: jpribyl/action-docker-layer-caching@v0.1.1
        # Ignore the failure of a step and avoid terminating the job.
        continue-on-error: true
        with:
          key: docker-cache-${{ hashFiles('.git/modules/lighthouse/*/HEAD', '.git/modules/geth/*/HEAD') }}

      - name: Lighthouse - Run pre-EIP4844 tests
        timeout-minutes: 30
        run: go run ./tests/pre-4844 lighthouse

      # - name: Lighthouse - Run Blob transaction tests
      #   timeout-minutes: 30
      #   run: go run ./tests/blobtx lighthouse

      # - name: Lighthouse - Run Fee market spec tests
      #   timeout-minutes: 30
      #   run: go run ./tests/fee-market lighthouse

      # - name: Lighthouse - Run Initial sync tests
      #   timeout-minutes: 30
      #   run: go run ./tests/initial-sync lighthouse

      - name: Collect docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v1
        with:
          images: 'eip4844-interop_prysm-beacon-node-follower,eip4844-interop_prysm-beacon-node,eip4844-interop_execution-node-2,eip4844-interop_execution-node,eip4844-interop_prysm-validator-node'
          dest: './logs'

      - name: Tar logs
        if: failure()
        run: tar cvzf ./logs.tgz ./logs

      - name: Upload logs to GitHub
        if: failure()
        uses: actions/upload-artifact@master
        with:
          name: logs.tgz
          path: ./logs.tgz
